# to build c++ addon
msvs_version=2019

# change to local registry to speedup (but may cause error when install sqlite3)
#registry=http://172.22.27.132:55000
registry=https://registry.npmjs.org
